.header{
    display: flex;
    color: #6495ed;

}
.left{
    width: 49%;
    margin-right: 10px;
    text-align: center;
}
.right{
    width: 49%;
    margin-right: 10px;
    text-align: center;
}
.a:after{
    content: "*";
    color: #f00;
}