img{
    width: 140%;
    height: 340px;
}
#bai4{
    width: 100%;
}
#bai4 h2{
    text-align: center;
    font-size: 60px;
    margin-top: -340px
}
#bai4 .nd1{
    color: #ffffff;
    background-color: #339999;

}
#bai4 .nd2 #bai4 .nd3{
    color: #339999;
}