.circle{
    background: #456bd9; 
    border: 0.1875em; 
    font-size:50%;
    border-radius: 50%;
    color: white;
    line-height: 300px;
    text-align: center;
    height: 300px;
    width: 300px;
}